@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

*{
    background: #1e293b;;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;  
}


.titulo{
    margin-top: 5%;
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #1e9bff; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    
}


.contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}


.text-area{
    border: none;
    color: #cbd5e1;
    text-transform: lowercase;
    margin-top: 20px;
    padding-left: 20px;
    height: 350px;
    background: #475569;
    border-radius: 20px;
}

::placeholder{
    color: #cbd5e1;
}

.text-area:focus{
    outline: none;
}

#mensaje{
    background: rgb(238,238,238);
    background-image: url(/imagenes/busqueda.gif);
    background-position: center;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #2563eb;
    margin-top: 20px;
    padding-left: 20px;
    height: 350px;
    
}

#mensaje:focus{
    outline: none;
}


.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-desencriptar{
    background: #1e293b;
    border: 1px solid #2563eb;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
}

.btn-desencriptar:hover,
.btn-desencriptar:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          color: #d946ef;
          border: 1px solid #E4CB58;
}
.btn-desencriptar {
    --color: #ffa260;
    --hover: #e5ff60;
  }


.btn-encriptar{
    background: #1e293b;
    border: 1px solid #2563eb;
    border-radius: 24px;
    color: #d946ef;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
}

.btn-encriptar:hover,
.btn-encriptar:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          color:  #fff;
          border: 1px solid #E4CB58;
}
.btn-encriptar {
    --color: #ffa260;
    --hover: #e5ff60;
  }


.botones2{
    display: flex;
    justify-content: space-around;
   
}

#copiar{
    background: #1e293b;
    border: 1px solid #2563eb;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 67px;
    width: 150px;
    display: none;
    font-size: 20px;
}

#copiar:hover,
#copiar:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
  color: var(--color);
  -webkit-transition: 1000ms;
  transition: 1000ms;
  border-color: var(--hover);
  color:  #d946ef;
}

#copiar {
    --color: #ffa260;
    --hover: #D3E6FE;
  }

#limpiar{
    background-color: #1e293b ;
    border: 1px solid #2563eb;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 150px;
    display: none;
    font-size: 20px;
}

#limpiar:hover,
#limpiar:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
  color: var(--color);
  -webkit-transition: 1000ms;
  transition: 1000ms;
  border-color: var(--hover);
  color:  #d946ef;
}

#limpiar {
    --color: #ffa260;
    --hover: #D3E6FE;
  }

.informacion{
    color: #eceff1;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 5px;
}

@media screen and (max-width:768px){
    .titulo{
        font-weight: bold; 
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;  
    }

    .contenedor{
        flex-wrap: wrap;
    }

    .text-area{
        height: 180px;
        width: 300px;
        font-size: 20px;
        margin-top: 10px;
    }
    #mensaje{
        height: 180px;
        width: 300px;
        font-size: 20px;
        margin-top: 10px;
    }

    .btn-desencriptar{
        height: 50px;
        width: 120px;
        font-size: 16px;
    }

    .btn-encriptar{
        height: 50px;
        margin-left: 10px;
        width: 120px;
        font-size: 16px;
    }

    .informacion{
        font-size: 10px;
        margin-top: 5px;
        padding-left: 10px;   
    }

    #copiar{
        height: 50px;
        margin-left: 10px;
        width: 120px;
        font-size: 16px;
    }
    
    #limpiar{
        height: 50px;
        margin-left: 10px;
        width: 120px;
        font-size: 16px;
        
    }


    
}





